/* Icons font----------------------------------------------------------- */
@font-face {
  font-family: "Icons";
  src: url("../assets/fonts/Icons.eot");
  src: url("../assets/fonts/Icons.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/Icons.woff") format("woff"),
  url("../assets/fonts/Icons.ttf") format("truetype"),
  url("../assets/fonts/Icons.svg#Icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.icon {
  font-family: "Icons", sans-serif;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-variant: normal;
  text-rendering: auto;
}
.i_add-file:before {
  content:"\E001";
}
.i_arr-b:before {
  content:"\E002";
}
.i_arr-l:before {
  content:"\E003";
}
.i_arr-l1:before {
  content:"\E004";
}
.i_arr-r:before {
  content:"\E005";
}
.i_arr-r1:before {
  content:"\E006";
}
.i_bad-cold:before {
  content:"\E007";
}
.i_bad:before {
  content:"\E008";
}
.i_bell:before {
  content:"\E009";
}
.i_bold:before {
  content:"\E00A";
}
.i_calculate:before {
  content:"\E00B";
}
.i_calendar:before {
  content:"\E00C";
}
.i_card:before {
  content:"\E00D";
}
.i_ch:before {
  content:"\E00E";
}
.i_check:before {
  content:"\E00F";
}
.i_comment:before {
  content:"\E010";
}
.i_conversation:before {
  content:"\E011";
}
.i_edit:before {
  content:"\E012";
}
.i_email:before {
  content:"\E013";
}
.i_exit:before {
  content:"\E014";
}
.i_eye-off:before {
  content:"\E015";
}
.i_eye:before {
  content:"\E016";
}
.i_f:before {
  content:"\E017";
}
.i_fb:before {
  content:"\E018";
}
.i_filter:before {
  content:"\E019";
}
.i_g:before {
  content:"\E01A";
}
.i_gas:before {
  content:"\E01B";
}
.i_home-ch:before {
  content:"\E01C";
}
.i_home-q:before {
  content:"\E01D";
}
.i_home-x:before {
  content:"\E01E";
}
.i_home:before {
  content:"\E01F";
}
.i_home1:before {
  content:"\E020";
}
.i_i:before {
  content:"\E021";
}
.i_i1:before {
  content:"\E022";
}
.i_i2:before {
  content:"\E023";
}
.i_i3:before {
  content:"\E024";
}
.i_i4:before {
  content:"\E025";
}
.i_i5:before {
  content:"\E026";
}
.i_i6:before {
  content:"\E027";
}
.i_insta:before {
  content:"\E028";
}
.i_key:before {
  content:"\E029";
}
.i_ok:before {
  content:"\E02A";
}
.i_ok1:before {
  content:"\E02B";
}
.i_pencil:before {
  content:"\E02C";
}
.i_phone:before {
  content:"\E02D";
}
.i_protection:before {
  content:"\E02E";
}
.i_real-estate-1:before {
  content:"\E02F";
}
.i_real-estate-2:before {
  content:"\E030";
}
.i_rub:before {
  content:"\E031";
}
.i_search:before {
  content:"\E032";
}
.i_settings:before {
  content:"\E033";
}
.i_star-full:before {
  content:"\E034";
}
.i_star:before {
  content:"\E035";
}
.i_teleg:before {
  content:"\E036";
}
.i_time:before {
  content:"\E037";
}
.i_tw:before {
  content:"\E038";
}
.i_user:before {
  content:"\E039";
}
.i_vk:before {
  content:"\E03A";
}
.i_vk1:before {
  content:"\E03B";
}
.i_warn:before {
  content:"\E03C";
}
.i_warn1:before {
  content:"\E03D";
}
.i_x:before {
  content:"\E03E";
}
.i_ya:before {
  content:"\E03F";
}
